body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0 150px;

}

a {
    text-decoration: none;
    
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 3em;

}

blockquote {
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    width: 1000px;
    
}

span {
    font-weight: bold;
    font-size: 18px;
    text-align: right;
    display: block;
}

button {
    padding: 5px 22px;
    border-radius: 5px;
    color: #F9FAF8;
    font-weight: 700;
    flex-shrink: 0;
}

.hmaintext {

    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;

}

.hsectext, a, .footer {

    font-size: 18px;
    color: #E5E7EB;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.hero {
    display: flex;
    align-items: center;
    flex:1;
    padding: 80px 150px;
    justify-content: space-between;
    gap: 100px;
}

.heroleft, .heroright {
    
    width: 400px;
    
}

.heroright {
    color:#F9FAF8;
    background-color: #757c8b;
    width: 600px;
    height: 300px;
}






.boxcontainer {
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    margin: 50px auto 100px auto;
}

.boxinfo {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 auto;
    margin-top: 50px;
    font-size: 30px;
    font-weight: normal;

}

.item {
    width: 180px;
    text-align: center;
}
.box {
    width: 150px;
    height: 150px;
    border-color: #3882F6;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    margin: auto;
}

header, .hero, .footer {
    background-color: #1F2937;
}

button, .callta {
    background-color: #3882F6;
}

.footer {
    text-align: center;
    padding: 2em;
}

.blockc {
    background-color: #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center;
}

.borderless {

    border: none;
    margin-top: 1em;

}

.callta {

    justify-content: space-between;
    margin: 150px 250px;
    border-radius: 5px;
    color: white;
    flex: 0;
    gap: 100px;
}

.call {

    font-size: 24px;
    font-weight: 700;
    margin-bottom: 1em;
    
}